<div id="aboutus">
	<br>
      <h1>About Us</h1> 
      <h2>Get Even Now is a movement to expand women’s opportunities by drawing attention to the gender pay gap, the gender opportunity gap, and the resulting gender leadership gap. Our campaign calls on women and men, individuals and organizations, employers and employees, as well as communities to take actions that will create a world in which women and men are paid equally, promoted equally and offered equal opportunities to succeed and lead.</h2>
<h2>
Get Even Now is the result of the Equality Initiative partnership—a collaboration among Catalyst, the National Council for Research on Women and The White House Project.
</h2>
<br>
<br>
<br>
