<div id="Get Connected">
	<br>
      <h1>Keep Going!</h1> 
     
  <h2>Getting even doesn’t stop here. Check out these organizations that are dedicated to raising awareness about the gender achievement gap, as well as information on how to help close the wage gap.</h2>

      <br>
        <h3>Progress (<a href="http://progress.heinz.cmu.edu/Home.aspx">progress.heinz.cmu.edu</a>)</h3>
        <p>Progress strives to examine and address the critical issue of gender inequity by providing negotiation tools and sound academic research that empower all women and girls to reach their full potential.</p>
    
       <br>
        <h3>National Committee on Pay Equity (<a href="http://www.pay-equity.org/">www.pay-equity.org</a>)</h3>
        <p>The National Committee on Pay Equity (NCPE), founded in 1979, is a coalition of women's and civil rights organizations; labor unions; religious, professional, legal, and educational associations, commissions on women, state and local pay equity coalitions and individuals working to eliminate sex- and race-based wage discrimination and to achieve pay equity.</p>
     
      <br>
        <h3>National Organization for Women (<a href="http://www.now.org/">www.now.org</a>)</h3>
        <p>The National Organization for Women (NOW) is the largest organization of feminist activists in the United States. NOW has 500,000 contributing members and 550 chapters in all 50 states and the District of Columbia.  Since its founding in 1966, NOW's goal has been to take action to bring about equality for all women. NOW works to eliminate discrimination and harassment in the workplace, schools, the justice system, and all other sectors of society; secure abortion, birth control and reproductive rights for all women; end all forms of violence against women; eradicate racism, sexism and homophobia; and promote equality and justice in our society</p>
      <br>
        <h3>Wage Project (<a href="http://www.wageproject.org/">www.wageproject.org</a>)</h3>
        <p>The WAGE Project, Inc is a 501(c)3 charitable, tax-deductible organization established for one purpose: to end discrimination against women in the American workplace in the near future. To do that, WAGE inspires and helps working women to take the steps needed so that every woman is paid what she's worth.</p>
       <br>
        <h3>American Association of University Women (<a href="http://www.aauw.org/">www.aauw.org</a>)</h3>
        <p>AAUW advances equity for women and girls through advocacy, education, philanthropy, and research.</p>
    

  </div>