
<div>
<h3><strong>
	SHOW ME HOW TO GET AHEAD </strong></h3>
	<p>We designed a leadership assessment test that can help you know more about your leadership ability<p>
		
	
 <a href="/showmehowtogetahead"><img src="/assets/before.jpg" alt="Show me how to get ahead" width="166" height="40" id="leadershipLink" border="0"/></a>
<p>
	<br>
	Here are some readings recommended for you: <br>
	Women Don't Ask, Linda Babcock and Sara Laschever

</p>

</div>



