<div id="gettheplan" >
	<br>
	<h1>Show Me Ways To Get Ahead!</h1>
<h2>In addition to the persistent wage gap between men and women, there is a leadership gap that stems from workplace barriers and contributes to a gender imbalance at senior levels in organizations across most industries. </h2>
<h2>Answer the questions below about your position and your behaviors in your current organization to receive practical advice about advancing in the workplace.</h2> 
    <table border="1">
<tr>
	<td style="width:220px"><h3>Question 1<div id="quiz1"></div></h3></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results1"></div></td>
	</tr>
<tr>
	<td style="width:220px"><h3>Question 2<div id="quiz2"></div></h3></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results2"></div></td>
	</tr>
<tr>
	<td style="width:220px"><h3>Question 3<div id="quiz3"></div></h3></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results3"></div></td>
	</tr>
<tr>
	<td style="width:220px"><h3>Question 4<div id="quiz4"></div></h3></td>
	
</tr>
	
<tr>
	<td style="width:220px"><div id="results4"></div></td>
	</tr>
	</table>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="showmehowtogetahead.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<a href="/report.pdf"><img src="/assets/download the full report.jpg" 
onmouseover="this.src='/assets/download the full report hover.jpg'" 
onmouseout="this.src='/assets/download the full report.jpg'" width="250" height="40" alt="download the report"/></a>
<br><br>
 </div> 
