<div id="gettheplan" >
	<br>
	<h1>Show Me Ways To Get Ahead!</h1>
<h2>In addition to the persistent wage gap between men and women, there is a leadership gap that stems from workplace barriers and contributes to a gender imbalance at senior levels in organizations across most industries. </h2>
<h2>Answer the questions below about your position and your behaviors in your current organization to receive practical advice about advancing in the workplace.</h2> 
    <table border="1">
<tr>
	<td style="width:220px"><div id="quiz1"></div></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results1"></div></td>
	</tr>
<tr>
	<td style="width:220px"><div id="quiz2"></div></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results2"></div></td>
	</tr>
<tr>
	<td style="width:220px"><div id="quiz3"></div></td>
	
</tr>
<tr>
	<td style="width:220px"><div id="results3"></div></td>
	</tr>
<tr>
	<td style="width:220px"><div id="quiz4"></div></td>
	
</tr>
	
<tr>
	<td style="width:220px"><div id="results4"></div></td>
	</tr>
	</table>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="showmehowtogetahead.js"></script>
<a href="/report.pdf"><img src="/assets/download the report.jpg" width="190" height="150" alt="download the report"/></a>
 </div>
