<div id="getthefact" >
<br>
 <h1>Show me the money!</h1>
    <h2>There are many variables that factor into one’s compensation, including position, location, education level. Use the tool below for a visualization of the gender wage gap across industries and different states. </p>
     <iframe src="http://public.tableausoftware.com/views/WageGapV2/Dashboard1?:embed=y&:display_count=no" width="930" height="1200"></iframe>

   

</div>