<p>
	We designed a leadership assessment test. 
</p>

<a id="leadershipLink" href="/showmehowtogetahead" class="button"s>Show me how to get ahead</a>
<div>
<p>
	<br>
	Here are some readings recommended for you: <br>
	Women Don't Ask, Linda Babcock and Sara Laschever



</p>
</div>
