<h1>Get the fact</h1>
<p>We used Tableau to analyze data.</p>

<a id="nextlink1" href="/showmemoney" class="button orange">Show me the Money</a>
<p>
	<br>
	Here are some readings recommended for you: <br>
	Women Don't Ask, Linda Babcock and Sara Laschever



</p>