<div style="height:10px"></div>

<div id="content" >

 </li>
 
    <p>There are many variables that factor into one’s compensation, including position, location, education level. Use the tool below for a visualization of the gender wage gap across industries and different states. </p>
     <iframe src="http://public.tableausoftware.com/views/WageGapDemo/Dashboard1?:embed=y&:display_count=no" width="900" height="800"></iframe>

     
      <p>Articles</p>
    <p>Some articles that you may find useful</p>
   

</div>