<div>
	

<h2>Let's close the wage gap</h2>
It’s 2012 and there is still a persistent gap between what women earn and what men earn.  This is counter to the notion many people might have that the gap is a relic of past generations.  Unfortunately it is still alive and well, but we want to make this gap a thing of the past.<br>
<br>
The purpose of this website is to educate users about the gender wage gap and arm them with information and negotiation tools to eliminate it.  By merging data from multiple sources and tapping into our negotiation know-how, we developed innovative ways to help users take their own steps towards closing the wage gap.
<br>
<br>
<ul>
	<li>In the <b>“Show me the money”</b> tab, you can see salary comparison information customized just for you and learn about the gender wage gap in your profession and geographic area.
	<li>The <b>“Ask for it”</b> tab displays negotiation tips, a template to use in preparing for a negotiation, and videos to help you practice your pitch.  If you want to find more information on the gender wage gap or on how to negotiate, click on the “find out more” tab.
</ul>
Our team is made up of dedicated individuals from Carnegie Mellon University with expertise in gender, negotiation, information systems, and data analysis.  Spurred by our own experiences and a desire to improve the situation many women find themselves in, we’ve developed these tools from existing data to help you close the wage gap. 

</div>
