<div>
	

<h2>Get the fact</h2>
<h2>Get the plan</h2>
<h2>Get public</h2>
<!--
It’s 2012 and there is still a persistent gap between what women earn and what men earn.  This is counter to the notion many people might have that the gap is a relic of past generations.  Unfortunately it is still alive and well, but we want to make this gap a thing of the past.<br>
<br>
The purpose of this website is to educate users about the gender wage gap and arm them with information and negotiation tools to eliminate it.  By merging data from multiple sources and tapping into our negotiation know-how, we developed innovative ways to help users take their own steps towards closing the wage gap.
<br>
<br>
<ul>
	<li>In the <b>“Show me the money”</b> tab, you can see salary comparison information customized just for you and learn about the gender wage gap in your profession and geographic area.
	<li>The <b>“Ask for it”</b> tab displays negotiation tips, a template to use in preparing for a negotiation, and videos to help you practice your pitch.
	<li>If you want to find more information on the gender wage gap or on how to negotiate, click on the <b>"Find out more”</b> tab.
</ul>
Our team is made up of dedicated individuals from Carnegie Mellon University with expertise in gender, negotiation, information systems, and data analysis.  Spurred by our own experiences and a desire to improve the situation many women find themselves in, we’ve developed these tools from existing data to help you close the wage gap. 

</div>
<div style="height:30px"></div>
<div id="occuptable_container" class="span-14 last">
<h3> Ratio of Women’s Earnings to Men’s Earnings</h3>
<br/>
<p>The table below provides a snapshot of the wage gap in a variety of
occupations.  This data is for full-time workers and is sourced from the Bureau of Labor
Statistics 2010 data.</p>
<table id="occupationtable" class ="span-14 last">
<thead>	
<tr><th>Occupation</th> <th>Wage Gap Ratio</th></tr>
</thead>
<tbody>
<tr><td>Management occupations	</td><td>72%</td></tr>
<tr><td>Chief executives 	</td><td>72%</td></tr>
<tr><td>General and operations managers 	</td><td>72%</td></tr>
<tr><td>Financial operations occupations	</td><td>74%</td></tr>
<tr><td>Accountants and auditors 	</td><td>75%</td></tr>
<tr><td>Financial services sales agents	</td><td>63%</td></tr>
<tr><td>Sales occupations	</td><td>64%</td></tr>
<tr><td>Retail salespersons	</td><td>65%</td></tr>
<tr><td>Insurance sales agents	</td><td>67%</td></tr>
<tr><td>Human resources, training, and labor relations specialists 	</td><td>79%</td></tr>
<tr><td>Computer and mathematical occupations	</td><td>84%</td></tr>
<tr><td>Computer scientists 	</td><td>78%</td></tr>
<tr><td>Computer programmers 	</td><td>95%</td></tr>
<tr><td>Computer software engineers 	</td><td>91%</td></tr>
<tr><td>Architecture and engineering occupations	</td><td>80%</td></tr>
<tr><td>Life, physical, and social science occupations	</td><td>84%</td></tr>
<tr><td>Social services occupations	</td><td>90%</td></tr>
<tr><td>Counselors  	</td><td>105%</td></tr>
<tr><td>Social workers 	</td><td>91%</td></tr>
<tr><td>Lawyers  	</td><td>77%</td></tr>
<tr><td>Education, training, and library occupations	</td><td>81%</td></tr>
<tr><td>Postsecondary teachers 	</td><td>77%</td></tr>
<tr><td>Elementary and middle school teachers 	</td><td>91%</td></tr>
<tr><td>Secondary school teachers 	</td><td>93%</td></tr>
<tr><td>Special education teachers 	</td><td>97%</td></tr>
<tr><td>Arts, design, entertainment, sports, and media occupations	</td><td>85%</td></tr>
<tr><td>Healthcare practitioner and technical occupations	</td><td>76%</td></tr>
<tr><td>Healthcare support occupations	</td><td>90%</td></tr>
<tr><td>Protective service occupations	</td><td>76%</td></tr>
<tr><td>Food preparation and serving related occupations	</td><td>91%</td></tr>
<tr><td>Building and grounds cleaning and maintenance occupations	</td><td>79%</td></tr>
<tr><td>Personal care and service occupations	</td><td>83%</td></tr>
<tr><td>Office and administrative support occupations	</td><td>93%</td></tr>
<tr><td>Installation, maintenance, and repair occupations	</td><td>85%</td></tr>
<tr><td>Production, transportation, and material moving occupations	</td><td>74%</td></tr>
</tbody>
</table>

-->
</div>
