<div id="name">
	<ul id="tips"><li>
	<h3>Negotiate.</h3>
	Yes, just by committing to negotiate you are taking steps to ensure that you are paid what you’re worth. Many people do not feel comfortable negotiating, but most employers are willing and even expecting you to negotiate.  
    </li>
    <li>
	<h3>Planning.</h3>
	To be effective in negotiating your salary, it is essential to plan in advance.  If you receive a new job offer, never respond immediately, but take some time to compose yourself, research, and plan your strategy.  If you are negotiating your salary in a current job, choose the right time when you could be most effective and benefit from your preparation.
</li>
<li>
	<h3>Aspiration Value – AV. </h3>
	Your AV is an ambitious, yet realistic objective in the negotiation. For example, you have been offered a starting salary of $65,000 but research has shown you the mean salary for this job is $70,000. You could set your AV to $75,000 because you have more than average work experience and are a fantastic negotiator!  
</li>

<li>
	<h3>Reservation Value – RV. </h3>
		
	Your RV is the absolute lowest package (combo of salary, benefits, etc.) that you would be willing to accept before you decline the offer. This all depends on your preferences, alternatives to accepting a job with this organization, and how much you want this job compared to your preferences. Your RV is your walk away point—for any value less than your RV you go for your alternative.

	Employer RV is the absolute highest package (combo of salary, benefits, etc) that employer would be willing to offer before walking away from you. This all depends on their alternatives to you. For instance other candidates, how much they like other candidates, budget, and so on. It is your job to assess the employer RV by researching. Find out the types of packages offered by this organization, talk to friends or colleagues in the organization, and consult professional associations and websites that provide salary information.

	Your goal is to reach an agreement close to the employer’s RV and far away from yours.
</li>
<li>
<h3>ZOPA.</h3>
	The ZOPA is the Zone of Possible Agreement. This is the range in which an agreement is satisfactory for both negotiating parties, or the area between your and your employers RV’s. This is the area that you negotiate over. For instance, your RV is $70,000 and your employer’s RV is $80,000 then any salary between those figures is a possible deal.
</li>
<li>
<h3>Logrolling </h3>
	Negotiating does not have to be about what you want versus what someone else wants. Instead, try to trade issues with the person you are negotiating with. In essence, you will offer the other side something that they value more than you, in exchange for something from them that you value more than they do.
</li>
<li>
	<h3>BATNA </h3>
	 
	Remember to give yourself options when negotiating. Your BATNA or Best Alternative to a Negotiated Agreement is your greatest source of power while negotiating and provides you with leverage. Options allow you to walk away to something else, but also will push employers who are afraid to lose you to negotiate with you. The more job offers you have on the table the better.

	If you have a strong BATNA, it is ok to allude to it (but avoid using it as a threat).
</li>
<li>
	<h3>Bargaining Power </h3>	
	Power comes from several sources – your power away from the table (your BATNA), your preparation before the negotiation, and your negotiation strategy.  Make sure you take advantage of all three sources by taking steps to improve your BATNA, collecting some data about your negotiating situation, and thinking about the strategy that will work best in this particular situation.
</li>
<li>
	<h3>Anchoring </h3>	
	Anchor or start with an offer that favors your own side. During negotiations parties tend to move from far extremes toward the center. If you aim high, the other party can then reply or counter offer somewhere in a reasonable range that is more ideal for you. This back and forth will continue, until you hopefully end up meeting offers close to the range that you anchored in.
</li>
<li>
	<h3>Win-Lose Negotiation. </h3>
	A win-lose negotiation is a situation in which one party’s gain is another party’s loss. Both parties are competing to get the most value out of the negotiation because there is a limited amount to be gained. If you find yourself in this situation, bargain to achieve your best outcome.
</li>
<li>
	<h3>Win-Win Negotiation. </h3>	
	A win-win negotiation is a situation in which both parties fully take into account each others’s interests and the agreement is the best possible outcome for both. All options have been put on the table and been thoroughly considered.  Most negotiation situations have the potential to be win/win and can benefit from taking a cooperative, problem-solving approach rather than a competitive, “this is war” approach.
</li>
<li>
	<h3>Things to Remember! </h3>
	<ul>
<li>You are valuable; don’t underestimate your worth</li>
<li>Remind them of why you are worth more</li>
<li>Determine your negotiation style and adapt that for each negotiation context.</li>
<li>Ask questions; if they say “no” ask “why” and this will help you to figure out what you need to do to make it into a “yes”</li>
<li>Negotiation means a “back and forth”.  If they say “no” to your initial request, make a counter-offer or ask how close they can come to your ask.</li>
<li>Practice!  Practicing the negotiation with a friend can help you to feel more calm and confident and will help you to make your arguments more persuasively.</li>
		
	</ul>	
</li>

	 </ul>
	
</div>