<div id="videolinks">
	<a id="video1Link" href="#">Video 1</a>
	<a id="video2Link" href="#">Video 2</a>
	<a id="video3Link" href="#">Video 3</a>
	<a id="video4Link" href="#">Video 4</a>
	
</div>
<div style="height:20px"> </div>

<div id="video1">
	<h3> Boss's Reaction </h3>
	<p>Practice a pitch to your boss, then watch the video below to view a potential reaction<p>
		
	<iframe width="420" height="315" src="http://www.youtube.com/embed/15jwoL4MwW8" frameborder="0" allowfullscreen></iframe>
		
		
	<p>Now practice how you would respond to this reaction. After you practice, watch the video below for a sample response. </p>
	<h5>Your response</h5>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/g_fXct5Yz5M" frameborder="0" allowfullscreen></iframe>
</div>

<div id="video2" style="display:none">
	<h3> Boss's Reaction 2 </h3>
	<p>Practice a pitch to your boss, then watch the video below to view a potential reaction<p>
		
   <iframe width="420" height="315" src="http://www.youtube.com/embed/CiLAwKbHi1s" frameborder="0" allowfullscreen></iframe>
		
		
	<p>Now practice how you would respond to this reaction. After you practice, watch the video below for a sample response. </p>
	<h5>Your response</h5>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/tc-M0WwnGQk" frameborder="0" allowfullscreen></iframe>
</div>

<div id="video3" style="display:none">
	<h3> Boss's Reaction 3</h3>
	<p>Practice a pitch to your boss, then watch the video below to view a potential reaction<p>
		
	<iframe width="420" height="315" src="http://www.youtube.com/embed/UmMMb0gw8kg" frameborder="0" allowfullscreen></iframe>
		
		
	<p>Now practice how you would respond to this reaction. After you practice, watch the video below for a sample response. </p>
	<h5>Your response</h5>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/zYzVQPvl4Ig" frameborder="0" allowfullscreen></iframe>
</div>

<div id="video4" style="display:none">
	<h3> Boss's Reaction  4</h3>
	<p>Practice a pitch to your boss, then watch the video below to view a potential reaction<p>
		
	<iframe width="420" height="315" src="http://www.youtube.com/embed/faP5ph1WPE0" frameborder="0" allowfullscreen></iframe>
		
		
	<p>Now practice how you would respond to this reaction. After you practice, watch the video below for a sample response. </p>
	<h5>Your response</h5>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/2q8aE0KUd7M" frameborder="0" allowfullscreen></iframe>
</div>