<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Leadership Questions</title>
    <meta name="description" content="">
  </head>

  <body>

    <p>Answer the following questions</p>
    <div id="quiz"></div>
	  <div id="results"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="showmehowtogetahead.js"></script>

    
  </body>
</html>