<div style="height:10px"></div>

<div id="content" >

<h1>SHOW ME THE MONEY</h1>
 </li>
      <li>
    <p>Enter information about your occupation, geographic location, gender and on what basis you would like to view your income to see the wage gap.</p>
     <iframe src="http://public.tableausoftware.com/views/WageGapDemo/Dashboard1?:embed=y&:display_count=no" width="900" height="800"></iframe>
    </li>
      <li>
      <p>ARTICLES</p>
    <p>Some articles that you may find useful</p>
   

</div>