<div class="footer" align="center" >

<p>
<img src="/assets/get-even-now-4-8-13_16.gif" width="671" height="65" alt="quotebox"/>
<img src="/assets/get-even-now-4-8-13_18.gif" width="88" height="61" alt="aboutus"/>
</p>
<p>                                                                    home - contact us - site map</p>
</div>