#topspacer{
	height:25px;
}

#bottomspacer{
	height:25px;
}

#page_container{
	background-color: white;
	/*border: 1px solid black;*/
	-moz-box-shadow:2px 2px 4px #999;
	-webkit-box-shadow:2px 2px 4px #999;
	box-shadow:2px 2px 4px #999;
	margin:0;
	-moz-border-radius:    10px;
	 -webkit-border-radius: 10px;
	 border-radius:         10px;
	
}

#header{
	padding-left: 20px;
	padding-bottom: 0;
	border: 0;
	margin: 0;
}

/*Main navigation menu */
#mainmenu{
	background-color: #8B0000;
}
#navbar {
  position: relative;
  margin: 0;
  padding: 0.4em 0;
}

#navbar li {
  list-style-type: none;
  display: inline;
  padding: 0;
}

#navbar li a {
  padding: 0.4em 0.7em;
  font-weight: bold;
  font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  color:white !important;
 -webkit-text:white;
  margin: 0;
  border: 0;

}

#navbar ul{
	display:none;
	border: 0;
	margin: 0;
	float: left;
}

#navbar ul li{
	
	border: 0;
	margin: 0;
	padding: 0;
}

#navbar ul li a{
	padding: 0 1em 0 0;
	font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	border: 0;
	margin: 0;
	
}

#navbar  li a:hover {
  background-color: #FA8072;
  
}


/*#mainmenu ul li a:visited {
  background-color: #F20056;
  
}*/



/*End main menu*/

#content{
	/*border-top: 1px solid black;*/

}

#mainsection {
	padding: 20px 20px 20px 20px;
	
	
}


body{
	background-color:#eef2fb; 
	
}


.currentMenuItem{
	background-color: #00BFFF;
}


.button {
	display: inline-block;
	outline: #E00782;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1em Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	position: relative;
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#B22222));
/*	left:100px;
	bottom:-100px; */
}
.button:hover {
	text-decoration: none;
	color:#F8EEF4 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#B22222), to(#990000));
	 -webkit-text:white
}


#footer{
	background-color: #F5F5F5;
	-moz-border-radius:    0 0 10px 10px;
	 -webkit-border-radius: 0 0 10px 10px;
	 border-radius:         0 0 10px 10px;
	padding:20px 20px 20px 20px;
	margin:0;
	
}


.centeralign{
	text-align: center;
	
}

img.centeralign{
	display: block;
	margin-left: auto;   
	margin-right: auto;
	
	
}


#footer a {
 padding-right: 2em;
 font: 60%;	
}

#footer p{
font: 60%;	
}

.ui-dialog { margin:0 auto; }

#errormsgpanel{
	display: none;
	background-color: rgb(255, 0,0);
	
	color: white !important;
	padding: 0 1.5em;
	font-weight: bold;
	-moz-border-radius:    3px;
	 -webkit-border-radius: 3px;
	 border-radius:         3px;
}

/*#tips li:nth-child(odd) {
	
	background-color: #BDEDFF;
	
}*/

