<div class="footer" align="center" >
<br>

<img src="/assets/get-even-now-4-8-13_16.gif" width="671" height="65" alt="quotebox"/>
<a href="/aboutus"><img src="/assets/get-even-now-4-8-13_18.gif" width="88" height="61" alt="aboutus"/></a>
<br>
<a href="/home">HOME</a>
<a href="/contactus">CONTACT US</a>
<a href="/sitemap">SITE MAP</a>
</div>