<div class="footer" align="center" >
<br>
<p>
<img src="/assets/get-even-now-4-8-13_16.gif" width="671" height="65" alt="quotebox"/>
<a href="/home"><img src="/assets/get-even-now-4-8-13_18.gif" width="88" height="61" alt="aboutus"/></a>
</p>
<a href="/home">home</a>
<a href="/home">contact us</a>
<a href="/home">site map</a>
</div>