<div id="footer" class="span-23 last">
	<div style="float: right">
	    <%=link_to (image_tag "heinz_logo.jpg", :title => "Heinz", :size => "60x20", :id => "blslogo") , 'http://www.heinz.cmu.edu/' %>
		<%=link_to (image_tag "BLS_logo.jpg", :title => "BLS", :size => "70x60", :id => "blslogo") , 'http://www.bls.gov' %>
		
		
		
	</div>
	<p><small>A Heinz System Project Deliverable</small></p>
	
</div>