	<div id="sidebaritem">
		<div id="sidebaritemheader" class="centeralign">
			<span><strong> Did you know? </strong></span>
			
		</div>
		<div id="sidebaritemcontent">
			<%= image_tag("inequalityscales.jpg", :size => "100x100", :class => "centeralign") %><br/>
			
			<%- randnum = rand(1..8) %>
		<%- if randnum == 1 %>
			<strong>Fact:</strong> Women earn 19% less than men. <br/>
		<%- elsif randnum == 2 %>
			<strong>Fact:</strong> Women need to work an extra 2.81 months to earn what men earn in a year. <br/>
		<%- elsif randnum == 3 %>
			<strong>Fact:</strong> If the decline in the wage gap continues at this past decade’s pace, women won’t reach parity with men until 2075. <br/>
		<%- elsif randnum == 4 %>
<strong>Why do women make less?</strong>  <br>Women are much less likely than men to negotiate their salary.<br/>
		<%- elsif randnum == 5 %>
<strong>Why do women make less?</strong>  <br>Women are more likely than men to believe that their employer will pay them fairly. <br/>
		<%- elsif randnum == 6 %>
<strong>Why do women make less?</strong>  <br>Women often underestimate the market value of their work: Men expect to earn 13 percent more than women in their first year and 32 percent more at their career peak.<br/>	
		<%- else %>
<strong>Why do women make less?</strong>  <br>In surveys, 2.5 times more women than men said they feel "a great deal of apprehension" about negotiating.<br/>
		<%- end %>



		</div>
		
	</div>
