	<div id="sidebaritem">
		<div id="sidebaritemheader" class="centeralign">
			<span><strong> Did you know? </strong></span>
			
		</div>
		<div id="sidebaritemcontent">
			<%= image_tag("inequalityscales.jpg", :size => "100x100", :class => "centeralign") %><br/>
			<strong>Fact:</strong> Women earn 19% less than men <br/>

			<strong>Fact:</strong> Women need to work an extra 2.81 months to earn what men earn in a year <br/>

			<strong>Fact:</strong> If the decline in the wage gap continues at this past decade’s pace, women won’t reach parity with men until 2075 <br/>

		<strong> Why? </strong> <br/>
			<ul>
			<li>	Women are much less likely than men to negotiate their salary.</li> 
			<li> Women are more likely than men to believe that their employer will pay them fairly. </li>
			<li> Women often underestimate the market value of their work: Men expect to earn 13 percent more than women in their first year and 32 percent more at their career peak</li>
			<li> In surveys, 2.5 times more women than men said they feel "a great deal of apprehension" about negotiating.</li> 
			</ul>
		</div>
		
	</div>